@import 'antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

@layer base {
    html {
        font-family: 'Inter', system-ui, sans-serif;
        line-height: inherit;
    }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.underline-from-left {
  position: relative;
  text-decoration: none;
}

.underline-from-left::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #000; /* Change color as needed */
  transition: width 0.3s ease-in-out;
}

.underline-from-left:hover::after {
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdc9e0; 
  border-radius: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8ea6c9; 
}

.course-container {
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s ease-in-out; /* Apply transition for max-height */
}

.course-container.expanded {
  max-height: 1000px; /* Set max-height to a large value to allow content to expand */
}

.course-container.collapsed {
  max-height: 200px; /* Set max-height back to its initial value */
}